<form class="row" method="post" action="<%=chatpost_path%>">
  <div class="col-md-11">
    <input type="text" class="form-control" id="chat_message" name="chat_message" placeholder="message">
  </div>
  <div class="col-md-1">
    <button type="submit" class="btn btn-primary mb-3">Send</button>
  </div>
</form>