<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%=@message%></h1>
    <p>
      Some variable here <%=@mail_variable%><br>
    </p>
    
  </body>
</html>