<div id="<%= dom_id board %>" class="row">
  <div class="col-md-12">
    <%= image_tag board.image.variant(:preview), class: 'rounded float-start m-2' %>
    <blockquote class="blockquote">
      <p class="text-left m-2"><%= board.body %></p>
    </blockquote>
  </div>
</div>